@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0rem;
}
body {
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fadeIn 1s forwards;
  overflow-x: hidden;
  background-color: #1f1f1f;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animasi untuk halaman yang keluar */
body.exit {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Header styling */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(46, 45, 45, 0.8);
  backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0px 100px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
}

header.scrolled {
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

/* Navbar styling */
.navbar {
  display: flex;
  gap: 50px;
  align-items: center;
}

/* Navbar link */
.navbar a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Garis bawah animasi */
.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #545454);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

/* Hover efek */
.navbar a:hover {
  background: linear-gradient(to right, #ffffff, #545454);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: all 0.4s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

/* Link aktif */
.navbar a.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
  animation: pulseGlow 0.9s infinite alternate;
}

@keyframes pulseGlow {
  0% {
    text-shadow: 0 0 1px #000000;
  }
  100% {
    text-shadow: 0 0 10px #ffffff;
  }
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #ffffff;
  transition: all 0.3s ease;
  border-radius: 2px;
}
/* Header Ends */

/* Header Responsive */
/* ≤ 768px */
@media (max-width: 768px) {
  header {
    padding: 0 50px;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background: rgba(46, 45, 45, 0.8);
    padding: 10px 80px 30px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    gap: 40px;
    border-radius: 10px;
  }

  .navbar a {
    font-size: 1.5rem;
    margin: 20px 0 0 20px;
    font-weight: bold;
  }

  .navbar.active {
    transform: translateX(0);
    align-items: flex-start;
  }

  .hamburger {
    display: flex;
  }

  /* Hamburger animation */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
/* Header Responsive Ends */

/* Hero section Starts */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.hero {
  padding: 20px 40px;
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  transition: background-image 1s ease-in-out;
  position: relative;
  overflow: hidden;
}

.hero-content {
  background: linear-gradient(to right, #525252, #545454);
  padding: 20px 40px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

/* Typewriter Style */
.editable {
  padding: 2px 8px;
  outline: none;
  color: #c2c2c2;
  font-weight: bold;
  display: inline-block;
  cursor: text;
  position: relative;
  text-align: left;
  white-space: nowrap;
  min-width: 0;
  width: auto;
  animation: typing 2s steps(20, end) infinite;
}

/* Placeholder */
.editable:empty::before {
  content: attr(data-placeholder);
  color: #c2c2c2;
  font-weight: normal;
  pointer-events: none;
  position: absolute;
  animation: blink-placeholder 1s step-end infinite;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Efek placeholder blinking */
@keyframes blink-placeholder {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.description {
  font-size: 1.2rem;
  text-align: center;
  color: #c2c2c2;
  max-width: 700px;
  line-height: 1.6;
  min-height: 50px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #c2c2c2;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  max-width: 100%;
  word-wrap: break-word;
}

.hero-content p {
  font-size: 24px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
  color: #c2c2c2;
}

.slider {
  width: 100%;
  max-height: 578px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
/* Hero Ends */

/* Hero Responsive */

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 16px;
  }

  .description {
    font-size: 0.95rem;
  }
}

/* Hero Responsive Ends */

/* About Section */
.section-title {
  text-align: center;
  font-size: 32px;
  padding-top: 100px;
  color: #c2c2c2;
}

.section-title i {
  margin-right: 10px;
  color: #c2c2c2;
}

.section-title span {
  color: #c2c2c2;
}

.about {
  background: rgb(49, 49, 49);
  position: relative;
  z-index: 1;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 60px 0 0;
}

.about-image img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(119, 119, 119, 0.2);
}

.about-content {
  max-width: 600px;
}

.about-content h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #c2c2c2;
}

.about-content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #c2c2c2;
  margin-bottom: 15px;
}

.about-content p {
  margin: 10px 0;
  line-height: 1.6;
  text-align: justify;
  color: #c2c2c2;
}

.about-content p strong {
  color: #c2c2c2;
  font-weight: 400;
}

.about-content .resume-btn {
  color: #c2c2c2;
}

.about-content a {
  text-decoration: none;
  color: #c2c2c2;
}

.resume-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #343232;
  color: rgb(145, 145, 145);
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(29, 29, 29, 0.6);
  transition: background 0.3s;
}

.resume-btn i {
  margin-left: 5px;
}

.resume-btn:hover i {
  transition: all 0.3s ease;
  transform: translateX(5px);
}

.resume-btn:hover {
  background: var(--bg-gradient-jet);
}

.lottie-animation {
  width: clamp(200px, 50vw, 600px);
  height: auto;
}
/* About Section Ends */

/* Projects Section Starts */
.projects {
  background-color: #1f1f1f;
  padding: 100px 20px;
  text-align: center;
}

.projects .section-title {
  font-size: 32px;
  color: #c2c2c2;
  margin-bottom: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.project-card {
  background: #3d3d3d;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: left;
  color: #c2c2c2;
  transition: transform 0.3s ease;
}

.project-img-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 8px;
  text-decoration: none;
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.project-card:hover .project-img {
  transform: scale(1.05);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: auto;
}

.project-img-wrapper:hover .overlay-text {
  opacity: 1;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #c2c2c2;
}
/* Projects Section Ends */

/* About Responsive */
@media screen and (max-width: 768px) {
  .about-container {
    margin: 0;
  }
}

@media screen and (max-width: 662px) {
  .about-container {
    margin: 40px;
  }
}
/* About Responsive Ends*/

/* SKills Section Starts */
.tech-stack {
  width: 100%;
  height: 800px;
  padding: 100px 20px;
  margin: 100px 0 0 0;
  background: #313131;
  text-align: center;
}

.tech-title {
  font-size: 32px;
  color: #c2c2c2;
  margin-bottom: 50px;
}

.tech-title i {
  margin-right: 10px;
  color: #c2c2c2;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.tech-card {
  background: #3d3d3d;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  color: #c2c2c2;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tech-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.tech-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

.tech-card p {
  font-size: clamp(12px, 1.5vw, 16px);
  color: #c2c2c2;
  font-weight: bold;
  margin: 0;
}
.tech-card a {
  color: #c2c2c2;
  text-decoration: none;
  transition: color 0.3s;
}

.tech-card a:hover {
  color: #c2c2c2;
}

/* Skills Section Ends*/

/* Skills Responsive Starts */
@media (max-width: 1024px) {
  .tech-stack {
    height: auto;
    padding: 80px 30px;
  }

  .tech-grid {
    gap: 30px;
  }

  .tech-card img {
    width: 45px;
    height: 45px;
  }

  .tech-card p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .tech-stack {
    padding: 60px 20px;
  }

  .tech-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }

  .tech-card {
    padding: 15px;
  }

  .tech-card img {
    width: 40px;
    height: 40px;
  }

  .tech-card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .tech-grid {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 20px;
  }

  .tech-card img {
    width: 35px;
    height: 35px;
  }

  .tech-card p {
    font-size: 13px;
  }
}
/* Skills Responsive Ends*/

/* Contact Section */
.contact {
  background: #1f1f1f;
  padding: 100px 20px;
  text-align: center;
  width: 100%;
  height: 800px;
}

.section-title2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 80px;
  color: #c2c2c2;
}

.section-title2 span {
  color: #c2c2c2;
}

.contact-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
  align-items: center;
  background-color: #3d3d3d;
  margin: 0 300px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.contact-image lottie-player {
  width: 100%;
  max-width: 400px;
  height: auto;
}

form {
  background: #3d3d3d;
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}

.form-group1,
.form-group2,
.form-group3,
.form-group4 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: none;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 2px solid #6e6f71;
}

.form-group1 i,
.form-group2 i,
.form-group3 i,
.form-group4 i {
  font-size: 20px;
  margin-right: 10px;
  color: #737373;
}

.form-group1 input,
.form-group2 input,
.form-group3 input,
.form-group4 input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #dedede;
}

.form-group1 textarea,
.form-group2 textarea,
.form-group3 textarea,
.form-group4 textarea {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: vertical;
}

.submit-btn {
  background: #3d3d3d;
  color: #737373;
  border: 2px solid #6e6f71;
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}

.submit-btn:hover {
  background: #6e6f71;
  color: #c2c2c2;
  border: 2px solid #3d3d3d;
  transition: 0.3s;
}
/* Contact Section Ends*/

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
  backdrop-filter: blur(6px);
}

/* Mencegah scroll saat popup aktif */
body.noscroll {
  overflow: hidden;
}

.popup {
  background-color: #515151;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 450px;
  width: 90%;
  transform: scale(0.9);
  opacity: 0;
  animation: popupIn 0.4s ease forwards;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.popup h3 {
  margin-bottom: 1rem;
  color: #c2c2c2;
  font-size: 1.4rem;
}

.popup p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #c2c2c2;
}

.popup .btn-close {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  background-color: #434343;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup .btn-close:hover {
  background-color: #9d9d9d;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popupIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.popup button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #252525;
  color: #c2c2c2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* Popup Overlay Ends */

/* Contact Responsive */
@media screen and (max-width: 1024px) {
  .contact {
    height: auto;
    padding: 60px 20px;
  }

  .section-title2 {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .contact-container {
    flex-direction: column;
    margin: 0 20px;
    padding: 20px;
    gap: 30px;
  }

  .contact-image lottie-player {
    max-width: 100%;
    height: auto;
  }

  form {
    max-width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 762px) {
  .contact {
    height: auto;
    padding: 60px 15px;
  }

  .section-title2 {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .contact-container {
    flex-direction: column;
    margin: 0 20px;
    padding: 20px;
    gap: 30px;
  }

  .contact-image lottie-player {
    max-width: 100%;
    height: auto;
  }

  form {
    max-width: 100%;
    padding: 20px;
  }

  .form-group1,
  .form-group2,
  .form-group3,
  .form-group4 {
    flex-direction: row;
    padding: 8px;
  }

  .form-group1 i,
  .form-group2 i,
  .form-group3 i,
  .form-group4 i {
    font-size: 18px;
    margin-right: 8px;
  }

  .form-group1 input,
  .form-group2 input,
  .form-group3 input,
  .form-group4 input,
  .form-group1 textarea,
  .form-group2 textarea,
  .form-group3 textarea,
  .form-group4 textarea {
    font-size: 14px;
  }

  .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
  .popup {
    padding: 1.5rem 1.8rem;
    border-radius: 16px;
    max-width: 90%;
  }

  .popup h3 {
    font-size: 1.2rem;
  }

  .popup p {
    font-size: 0.95rem;
  }

  .popup .btn-close,
  .popup button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
}
/* Contact Responsive Ends */

/* Footer Section */
.footer {
  padding: 40px 20px 20px 20px;
  background-color: #06022b;
  position: relative;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-box {
  flex: 1;
  min-width: 250px;
}

.footer-box h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.footer-box p,
.footer-box li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin: 10px 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.footer-box ul li i {
  margin-right: 8px;
  color: orange;
}

.footer-box ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-box ul li a:hover,
.footer-box ul li a.active {
  color: orange;
}

.footer-box i {
  margin-right: 8px;
  color: #ffffff;
}

.socials i {
  font-size: 20px;
  margin-right: 15px;
  background-color: #fff;
  color: #06022b;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.socials a {
  text-decoration: none;
}

.socials i:hover {
  background-color: #06022b;
  transition: background-color 0.5s ease;
  color: orange;
  border: 1px solid white;
}

hr {
  margin: 30px 0 10px;
  border-color: #000000;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
}

.footer-bottom .heart {
  color: red;
  margin: 0 5px;
}

.footer-bottom .author {
  color: orange;
}
/* Footer Section Ends */

/* Footer Responsive Starts */
@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 0 20px;
  }

  .footer-box {
    min-width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
  }

  .footer-box h2 {
    font-size: 22px;
  }

  .footer-box p,
  .footer-box ul li {
    font-size: 15.5px;
    line-height: 1.5;
  }

  .socials {
    margin-top: 10px;
  }

  .socials i {
    font-size: 18px;
    margin: 8px;
    padding: 9px;
  }

  .footer-bottom {
    font-size: 15px;
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .footer-box {
    min-width: 100%;
    max-width: 500px;
  }

  .socials i {
    margin: 10px 8px;
  }
}

@media (max-width: 480px) {
  .footer-box h2 {
    font-size: 20px;
  }

  .footer-box p,
  .footer-box li {
    font-size: 15px;
  }

  .socials i {
    font-size: 18px;
    padding: 8px;
  }

  .footer-bottom {
    font-size: 14px;
  }
}
/* Footer Responsive Ends */
